:root {
    --soft-black: #333444;
    --soft-grey: #d4d4d4;
    --black: #000;
    --white: #fff;
}

/* PC */
@media screen and (min-width: 64em) {
    
}

@media screen and (max-width: 1222px){
    .catalog__intro{
        padding-right: 0;
    }
    
    .art__left {
        flex: 2;
    }

    .art__right {
        flex: 3;
        padding-left: 1rem;
    }

    .footer__epilogue {
        padding: 0 3rem;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 63.9375em) {
    .text-large {
        font-size: 3rem;
    }

    .text-very-large {
        font-size: 6rem;
    }

    .nav__list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        flex-direction: column;
        background-color: var(--white);
        box-shadow: 0 10px 10px -8px var(--soft-black);
        transition: height 0.3s ease;
        overflow: hidden;
    }

    .nav__list.show {
        height: auto;
        overflow: visible;
    }

    .nav__item {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .nav__item::after {
        content: none;
    }

    .nav__item:hover {
        background-color: var(--soft-grey);
    }

    .active {
        background-color: var(--soft-grey);
    }

    .nav__link {
        color: var(--soft-black);
    }

    .subnav {
        top: 100%;
        left: 0;
        width: 100%;
    }

    .subnav__item {
        width: 100%;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #fff;
    }

    .shrink .navbar__toggle .bar {
        background: var(--soft-black);
    }

    .navbar__toggle {
        cursor: pointer;
    }

    .navbar__toggle .bar{
        display: block;
    }

    .navbar__toggle.is-open .bar:nth-child(2){
        opacity: 0;
    }

    .navbar__toggle.is-open .bar:nth-child(1){
        transform: translateY(8px) rotate(225deg);
    }

    .navbar__toggle.is-open .bar:nth-child(3){
        transform: translateY(-8px) rotate(-225deg);
    }

    .logo__image  {
        margin-left: 0;
    }

    .catalog__intro {
        margin-left: 0;
        margin-right: 4rem;
    }

    .catalog__intro--information {
        font-size: 1.2rem;
    }

    .catalog__card--img {
        width: 90%;
    }

    .university__left {
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .art__description {
        width: 80%;
    }

    .art__slide--item {
        width: 300px;
        height: 300px;
    }

    .art__btn--next {
        left: 410px;
        width: 2.2rem;
        height: 4rem;
    }
    
    .arrow-right, .arrow-left {
        width: 1.2rem;
        height: 1.2rem;
    }

    .foody__slide {
        min-width: 660px;
    }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media screen and (max-width: 46.1875em) {
    .text-large {
        font-size: 2.5rem;
    }

    .page__name {
        font-size: 1.4rem;
    }

    .catalog__card {
        display: none;
    }

    .catalog__intro {
        margin-right: 0;
        flex-basis: 100%;
    }

    .content__container {
        flex-direction: column;
    }

    .introduce__left {
        padding-right: 0;
        padding-bottom: 2rem;
    }

    .introduce__right {
        padding-left: 0;
        padding-top: 2rem;
    }

    .introduce__title {
        font-size: 1.5rem;
    }

    .photograph__left {
        padding-right: 0;
    }

    .photograph__right {
        padding-left: 0;
        margin-top: 2rem;
    }

    .photograph__right--bottom {
        align-items: flex-end;
    }

    .university__left {
        display: none;
    }

    .university__right {
        padding-left: 0;
    }

    .art {
        flex-direction: column;
        min-height: 800px;
    }

    .art__right {
        align-self: flex-end;
        padding-left: 4rem;
        margin-bottom: 4rem;
    }

    .art__slide--item {
        width: 240px;
        height: 240px;
    }

    .slide-item-1 {
        left: -350px;
        top: -160px
    }

    .slide-item-2 {
        left: -340px;
        top: -150px;
    }

    .slide-item-3 {
        left: -330px;
        top: -140px;
    }

    .slide-item-4, .slide-item-5 {
        left: -320px;
        top: -130px;
    }

    .art__btn--next {
        left: -70px;
    }

    .foody__top {
        padding: 8rem 2rem;
    }

    .foody__introduction p {
        font-size: 1.4rem;
    }

    .foody__slide {
        min-width: 280px;
        max-width: 560px;
    }

    .foody__slide--img {
        max-width: 200px;
    }

    .foody__slide--title {
        font-size: 1.8rem;
    }

    .footer__top {
        padding: 8rem 1.2rem;
    }

    .footer__epilogue {
        padding: 0;
    }
}